@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;

}
input[data-autocompleted] {
    background-color: transparent !important;
}
.backface-hidden {
  backface-visibility: hidden;
}
.flipped .rotateY-180 {
  transform: rotateY(0deg);
}
.flipped .rotateY-0 {
  transform: rotateY(-180deg);
}
.rotateY-180 {
  transform: rotateY(180deg);
}
.rotateY-0 {
  transform: rotateY(0deg);
}
