
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.text {
    color: #dc143c;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.underline {
    width: 50px;
    height: 4px;
    background: #dc143c;
    border-radius: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 0 10px;
}

.input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    font-size: 16px;
    padding: 10px;
}

.input input::placeholder {
    color: #999;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 40px #f0f0f0 inset !important;
    -webkit-text-fill-color: #000 !important;
    -webkit-box-sizing: border-box;
  }

.forgot-password {
    text-align: right;
    color: #999;
    font-size: 14px;
    margin-bottom: 30px;
}

.forgot-password span {
    color: #dc143c;
    cursor: pointer;
    transition: color 0.3s;
}

.forgot-password span:hover {
    color: #a50d2c;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: #dc143c;
    transition: background 0.3s;
}

.submit.gray {
    background: #eaeaea;
    color: #676767;
}

.submit:hover {
    background: #a50d2c;
}

.submit.gray:hover {
    background: #d4d4d4;
}

i {
    color: black;
}