name: Tests

on:
  push:
    branches:
      - "*"

jobs:
  test_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20" # Use Node.js 20.x

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install dependencies
        run: pnpm -C nepalingo-web install

      - name: Lint code
        run: pnpm -C nepalingo-web run lint

      - name: Check Prettier
        run: pnpm -C npealingo-web prettier . --check

      - name: Test Build
        run: pnpm -C nepalingo-web run build
